@import url('https://fonts.cdnfonts.com/css/impact');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

.recording .conditional {
    display: none;
}

.recording-not-started .when-not-started,
.recording-started .when-started,
.recording-finished .when-finished {
    display: inline-block;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, lightcoral, lightgreen);
}

header, header::before, header::after {
    box-sizing: border-box;
}

header {
    position: relative;
    padding: 1em 1em 8em;
    margin: 0 auto;
    max-width: 900px;
/*    text-align: center;*/
}

header h1 {
    transform: scaleY(1.5) skewY(-8deg) rotateZ(-3deg) translateZ(0);
}

header h1 p {
    font-family: Impact, sans-serif;
    color: transparent;
    background: linear-gradient(to bottom left, #fee601, #fee601 15%, #fe4201);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

header h1 p::before {
    position: absolute;
    content: 'Tired of BORING tweets and messages?';
    z-index: -1;
    text-shadow: 1px 0 0 #813300, 0 1px 0 #c14d00, 2px 1px 0.35px #813300, 1px 2px 0.35px #c14d00, 3px 2px 0.35px #813300, 2px 3px 0.35px #c14d00, 4px 3px 0.35px #813300, 3px 4px 0.35px #c14d00, 5px 4px 0.35px #813300, 4px 5px 0.35px #c14d00, 6px 5px 0.35px #813300, 5px 6px 0.35px #c14d00, 7px 6px 0.35px #813300, 6px 7px 0.35px #c14d00;
}

main {
    margin: 1em auto 0;
    padding: 1em;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.25);
    font-family: "Poetsen One", sans-serif;
    font-size: 18px;
}

input, button, select, option {
    font: inherit;
}

label {
    display: inline-block;
    min-width: 150px;
    padding-bottom: 0.5em;
}

input, select {
    width: 17em;
}

button[type=button] {
    background-color: rgb(173, 255, 47, 0.7);
    border: 1px solid green;
    padding: 0.3em 1em;
    cursor: pointer;
}

#typing-panel, #recording-panel {
    padding-bottom: 0.5em;
}

button[type=submit] {
    font-size: 1.25em;
    background-color: lime;
    color: darkred;
    animation: submit ease-in 2s infinite;
    border: 1px solid green;
    padding: 0.3em 1em;
    cursor: pointer;
    margin-top: 0.5em;
}

@keyframes submit {
    0% {
        background-color: lime;
        color: darkred;
    }

    50% {
        background-color: yellowgreen;
        color: brown;
    }

    100% {
        background-color: lime;
        color: darkred;
    }
}

h2 {
    font-size: 3em;
    margin-top: 0.3em;
}

pre {
    background: #eee;
    overflow-x: scroll;
    padding: 0.5em;
}

pre.copyable {
    cursor: pointer;
}

pre.copyable code {
    user-select: none;
}

pre.copied {
    animation: 0.4s cubic-bezier(0.755, 0.05, 0.855, 0.06) copied;
    animation-iteration-count: 1;
}

@keyframes copied {
    50% {
        background-color: #aae;
    }
}

.error {
    color: darkgoldenrod;
}
